<plugin name='grails-cas-client' version='2.0' grailsVersion='1.0 &gt; *'>
  <author>Chen Wang</author>
  <authorEmail>dev@chenwang.org</authorEmail>
  <title>Grails CAS Client Plugin</title>
  <description>The plugin handles configurations of JA-SIG CAS client integration using Yale Java client library versioned 2.1.1 with
some added features. Please note there is another Java client library which is heavily Spring based; Although it seems
a natural fit for Grails applications, it requires more configuration works to get started.

Please make sure necessary configurations are made in your Grails application's Config.groovy file.
</description>
  <documentation>http://grails.org/plugin/grails-cas-client</documentation>
  <type>GrailsCasClientGrailsPlugin</type>
  <resources>
    <resource>CasController</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>